/* SELECT-SWITCH WIDGET // "DARK MODE" // 04-DEZ-21 */
/* PART OF "BEZIER DEMO // SUN 03-APR-22 */
/* PART OF "QUERY LEXICON" // FRI 03-FEB-23 */
/* REMOVED "DONT SHOW AGAIN" MECHANISM // WED 01-MAR-23 */

/* FRI 12-MAY-23 */
/* (##TBD## SHADOW ROOT?)
/* 10-SEP-23 ALLOW SCROLL-Y POPUPS */








																					/* HELP BOX */
/* TOGGLE-ABLE LAYER */
.overlay {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 10;
	display: flex; 																																					/* INIT "OVERLAY" */
	align-items: center;
	justify-content: center;
	background-color: rgba(60 60 60 / .5); /* DIMMER */
	border: 0px dotted red;
}
.hide {
	display: none;																																					/* CHAIN "OVERLAY HIDE" */
}

/* CONTAINER HELPTEXT AND CLOSE-BTN */
.helpbox {
	background-color: none; /* OFF-WHITE FROM "OPTIONBOX" */
	border: 0px dashed cyan;
}

/* HELP-TEXT */
.helptext {
	font-size: 1rem; 				/* .85rem */
	line-height: 1.5rem; 		/* 1.3rem */
	color: var(--helptxt);
	/* word-break: normal; */ /* DEFAULT */
	border: 0px dashed cyan;
	cursor: default;
	/* touch-action: none; */ /* ALLOW SCROLLING(!) */
}

.helptext a {
	text-decoration: none;
}

.headline {
	display: flex;
	justify-content: center;
	color: var(--uiprompts);
	border: 0px solid blue;
}



/* --------------------------------------------------------------------------------------------- */
														/* NEW (100923) SCROLLING CONTENT POPUP */

.optionbox {
	background-color: rgba(252 252 252 / 1); /* OFF-WHITE */
	border: 0px dashed yellow;
																	/* LESS IS MORE FOR MOBILE */
	padding: 25px 15px 0px 18px; /* TRBL */
	margin: 0px 25px 0px 25px; /* NOT EFFECTIVE UNLESS WIDTH 100% */
	border-radius: 5px;
	cursor: default;

	display: flex;
	width: 90vw; /* max-width */
	max-height: 90vh;

	/*user-select: none;*/ /* NO TXT HILIGHTING */
	/* touch-action: none; */
	overflow-y: scroll;
}





/* --------------------------------------------------------------------------------------------- */
																				/* HELP FOOTER BUTTON */
/* FOOTER */	
.inhelpcontent {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;																															/** ##TEMP## BUILD A ROBUST TXT-BTN TABLE/GRID */
	padding-top: 20px;
	padding-bottom: 28px;
	border: 0px dashed red;
}

/* SQUARE BTN // FONT SPECS INHERIT FROM "BODY" */
.customsquarebtn {
/* BOX */
  width: 80px;
  height: 40px;
	border-radius: 3px;
	margin: 0px 20px 0px 20px;
  background-color: rgba(50 50 255 / 1);
	cursor: pointer;
	display: flex;
/* TYPE */	
	align-items: center;
	justify-content: center;
  color: white;
	font-weight: 600;
	user-select: none;
}

